name: Build ProCalculator APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Unzip project
        run: |
          unzip ProCalculator_ready.zip
          ls

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'

      - name: Get dependencies
        run: |
          cd pro_calculator
          flutter pub get

      - name: Build APK
        run: |
          cd pro_calculator
          flutter build apk --release

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: ProCalculator-APK
          path: pro_calculator/build/app/outputs/flutter-apk/app-release.apk
